# Environment File
# Enter your RingCentral Developer Application info below along with your JWT Key.
# If you want to enable debugging, set it to 1.

## DEBUG ENABLED (0 = Disabled, 1 = Enabled)
DEBUG = 1

## RingCentral Application Info ##

RC_SERVER_URL = https://platform.ringcentral.com

RC_APP_CLIENT_ID = 

RC_APP_CLIENT_SECRET = 

RC_JWT_TOKEN = 